<header class="header">
  <nav class="content">
    <a href="/" class="header-logo">
      <div class="header-logo-img"></div>
    </a>
    <ul class="menu">
      <li class="menu-item _has-child">
        <a class="menu-item-link">
          <p class="menu-item-link-text">Services</p>
        </a>
        <img src="assets/common/ic_arrow.svg" class="menu-item-arrow">
        <ul class="menu-child __opacity">
          <li class="menu-item child">
            <a href="/services/software-engineering" class="menu-item-link sub-child">
              <p class="menu-item-link-text">Software engineering</p>
            </a>
          </li>
          <li class="menu-item child">
            <a href="/services/startup-development" class="menu-item-link sub-child">
              <p class="menu-item-link-text">Startup product development</p>
            </a>
          </li>
          <li class="menu-item child">
            <a href="/services/devops" class="menu-item-link sub-child">
              <p class="menu-item-link-text">DevOps</p>
            </a>
          </li>
          <li class="menu-item child">
            <a href="/services/technology-consulting" class="menu-item-link sub-child">
              <p class="menu-item-link-text">Technology consulting</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item _has-child">
        <a class="menu-item-link">
          <p class="menu-item-link-text">Technologies</p>
        </a>
        <img src="assets/common/ic_arrow.svg" class="menu-item-arrow">
        <ul class="menu-child __opacity">
          <li class="menu-item child _has-child">
            <a class="menu-item-link sub-child">
              <p class="menu-item-link-text">Core technologies</p>
            </a>
            <img src="assets/common/ic_arrow.svg" class="menu-item-arrow sub-child">
            <ul class="menu-child sub-child __opacity">
              <li>
                <a href="/technologies/core-technologies/mobile">Mobile</a>
              </li>
              <li>
                <a href="/technologies/core-technologies/front-end">Front-end</a>
              </li>
              <li>
                <a href="/technologies/core-technologies/java">Java</a>
              </li>
              <li>
                <a href="/technologies/core-technologies/database">Databases</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-item _has-child">
        <a class="menu-item-link">
          <p class="menu-item-link-text">About us</p>
        </a>
        <img src="assets/common/ic_arrow.svg" class="menu-item-arrow">
        <ul class="menu-child __opacity">
          <li class="menu-item child">
            <a href="/about/company" class="menu-item-link sub-child">
              <p class="menu-item-link-text">Company</p>
            </a>
          </li>
          <li class="menu-item child">
            <a href="/about/process" class="menu-item-link sub-child">
              <p class="menu-item-link-text">Our process</p>
            </a>
          </li>
          <li class="menu-item child">
            <a href="/about/contacts" class="menu-item-link sub-child">
              <p class="menu-item-link-text">Contacts</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="/blog" class="menu-item-link"><p
        class="menu-item-link-text">Blog</p></a></li>
      <li class="menu-item button"><a class="btn show-popup">Contact us</a></li>
    </ul>
    <div class="free-quote-responsive">
      <a class="btn show-popup">Contact us</a>
    </div>
    <ul class="menu burger_menu _burger-toggle">
      <li class="menu-item __burger-item">
        <div class="nav-icon"><span></span><span></span><span></span></div>
      </li>
    </ul>
    <div class="burger_menu-list _open-menu-list">
      <ul class="burger_menu-list-top">
        <li class="burger-menu-item show-popup free-quote-menu"><a class="burger-menu-item-text">Get
          free quote</a></li>
        <li class="burger-menu-item _has-child-responsive"><a
          class="burger-menu-item-text">Services</a><img src="assets/common/arrow-down.svg"
                                                                   class="burger-menu-item-image _burger-menu-item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger-menu-item child"><a href="/services/software-engineering"
                                                            class="burger-menu-item-text">Software
              engineering</a></li>
            <li class="burger-menu-item child"><a href="/services/startup-development"
                                                            class="burger-menu-item-text">Startup product
              development</a></li>
            <li class="burger-menu-item child"><a href="/services/devops"
                                                            class="burger-menu-item-text">DevOps</a></li>
            <li class="burger-menu-item child"><a href="/services/technology-consulting"
                                                            class="burger-menu-item-text">Technology
              consulting</a></li>
          </ul>
        </li>
        <li class="burger-menu-item"><a href="/projects" class="burger-menu-item-text">Projects</a>
        </li>
        <li class="burger-menu-item _has-child-responsive"><a class="burger-menu-item-text">Technologies</a><img
          src="assets/common/arrow-down.svg"
          class="burger-menu-item-image _burger-menu-item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger-menu-item child _has-subChild-responsive"><a
              class="burger-menu-item-text">Core technologies</a><img
              src="assets/common/arrow-down.svg"
              class="burger-menu-item-image _burger-menu-item-image sub-child">
              <ul class="second-list-burger-menu _second-list-burger-menu sub-child">
                <li class="burger-menu-item"><a href="/technologies/core-technologies/mobile"
                                                          class="burger-menu-item-text sub-child">Mobile</a>
                </li>
                <li class="burger-menu-item"><a href="/technologies/core-technologies/front-end"
                                                          class="burger-menu-item-text sub-child">Front-end</a>
                </li>
                <li class="burger-menu-item"><a href="/technologies/core-technologies/java"
                                                          class="burger-menu-item-text sub-child">Java</a>
                </li>
                <li class="burger-menu-item"><a href="/technologies/core-technologies/database"
                                                          class="burger-menu-item-text sub-child">Databases</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="burger-menu-item _has-child-responsive"><a
          class="burger-menu-item-text">Career</a><img src="assets/common/arrow-down.svg"
                                                                 class="burger-menu-item-image _burger-menu-item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger-menu-item child"><a href="/career/vacancies"
                                                            class="burger-menu-item-text">Vacancies</a></li>
            <li class="burger-menu-item child"><a href="/career/benefits"
                                                            class="burger-menu-item-text">Benefits</a></li>
          </ul>
        </li>
        <li class="burger-menu-item _has-child-responsive"><a class="burger-menu-item-text">About
          us</a><img src="assets/common/arrow-down.svg"
                     class="burger-menu-item-image _burger-menu-item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger-menu-item child"><a href="/about/company"
                                                            class="burger-menu-item-text">Company</a></li>
            <li class="burger-menu-item child"><a href="/about/process"
                                                            class="burger-menu-item-text">Our process</a></li>
            <li class="burger-menu-item child">
              <a href="/about/contacts" class="burger-menu-item-text">Contacts</a>
            </li>
          </ul>
        </li>
        <li class="burger-menu-item"><a href="/blog" class="burger-menu-item-text">Blog</a></li>
      </ul>
    </div>
  </nav>
</header>
