<footer>
    <section class="cta">
        <div class="container">

            <!-- Title -->
            <h2 class="title">Want to know more?</h2>

            <!-- Button -->
            <div class="button">
                <a href="/contact-us/" title="Contact Codenest" target="_self">Get in touch						</a>
            </div>

        </div>
    </section>
    <div class="main">
        <section class="top">
            <div class="container">
                <div class="inner">

                    <!-- Menu -->
                    <nav class="menu">
                        <ul>
                            <li><a href="/privacy-policy" title="Read our privacy policy" target="_self">Privacy policy</a></li>
                            <li><a href="/cookie-policy" title="Read our cookies policy" target="_self">Cookies policy</a></li>
                            <li><a href="/terms-and-conditions/" title="Read our terms &amp; conditions" target="_self">Terms &amp; conditions</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <section class="bottom">
            <div class="container">
                <div class="inner">

                    <!-- Social icons -->
                    <div class="social">
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Footnote (copyright & company number) -->
                    <div class="footnote">
                        <span>Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.company.name }}</span>
                        <span>Company no. {{ site.company.number }}</span>				        </div>

                </div>
            </div>

            <!-- Scroll to top -->
            <a href="#top" class="scroll-up hash-link" title="Scroll to top" target="_self" aria-hidden="true">
                <svg width="26" height="15" xmlns="http://www.w3.org/2000/svg"><path d="M1.686 13L13 1.686 24.314 13" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"></path></svg>		        </a>

        </section>
    </div>
</footer>
