@import 'variables';

.link {
  color: $primary;
}

p {
  text-align: justify;
}

.mat-card-title {
  font-size: 26px;
  line-height: 28px;
}

.mat-flat-button {
  font-size: 18px;
  min-width: 120px;
}

.mat-card {
  margin: auto;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  padding: 24px;
}

@media (max-height: 800px) {
  .mat-card {
    height: 80vh;
  }
}

@media (min-height: 800px) {
  .mat-card {
    max-height: 800px;
  }
}

.mat-card-content {
  flex: 1;
  font-size: 1.1em;
  line-height: 23px;
}

.mat-card-header {
  flex: 0 1 auto;
}

// https://stackoverflow.com/questions/43479557/how-do-you-deal-with-div-with-mat-card-header-text-in-an-material2-card
::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 1 auto;
  width: 100%;
  margin-bottom: 12px !important;
}

.full-width {
  width: 100%;
}
