@import 'default-layout';

.main-footer {
  padding: 33px 20px 15px;
  background-image: linear-gradient(0deg, #333, #333)
}

.main-footer .content {
  width: 100%;
  max-width: 1200px
}

.main-footer .copyright-block_resp, .main-footer .follow-us.tablet {
  display: none
}

.main-footer_logo {
  display: inline-block;
  position: relative;
  left: -7px
}

.main-footer_logo-wrapper {
  width: 22%;
  display: inline-block
}

.main-footer_menu {
  position: relative;
  top: 18px;
  list-style-type: none;
  width: 78%;
  display: inline-block;
  vertical-align: top
}

.main-footer_menu-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 16%
}

.main-footer_menu-item:first-child {
  width: 20%
}

.main-footer_menu-item-link {
  font-weight: 500;
  font-size: 16px;
  color: #c4c3c3;
  text-decoration: none
}

.main-footer_menu-item-link.__active {
  color: #fffefe
}

.main-footer_sub-menu {
  list-style-type: none;
  margin-top: 25px
}

.main-footer_sub-menu-item {
  list-style-type: none;
  font-weight: 300;
  color: #fefefe;
  font-size: 13px;
  margin-bottom: 12px;
  letter-spacing: .26px
}

.main-footer_sub-menu-item a {
  color: #fefefe;
  text-decoration: none
}

.main-footer_sub-menu-item a:hover {
  text-decoration: underline
}

.main-footer_sub-menu-item.privacy-policy {
  margin: 10px 0 0;
  font-size: 14px
}

.main-footer .copyright-block {
  margin-top: 68px
}

.main-footer .copyright-block .copyright-text {
  white-space: pre;
  font-size: 10px;
  color: #ccc;
  text-align: left;
  font-weight: 500
}

.main-footer .contact-links-wrapper {
  margin-top: 30px
}

.main-footer .contact-links-wrapper a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px
}

.main-footer .contact-links-wrapper p {
  font-size: 14px;
  color: #fff;
  line-height: 24px
}

.main-footer .contact-links-wrapper h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #ccc;
  font-weight: 400
}

@media (max-width: 1024px) {
  .main-footer {
    padding: 20px 0
  }

  .main-footer_menu {
    display: none
  }

  .main-footer .copyright-block_resp, .main-footer .follow-us.tablet {
    display: inline-block
  }

  .copyright-block, .main-footer_logo, .mobile {
    display: none
  }

  .contact-links-wrapper {
    margin-top: 0 !important
  }

  .follow-us, .main-footer_logo-wrapper {
    margin: 0 4%
  }

  .copyright-block_resp {
    width: 44%;
    display: inline-block;
    text-align: center
  }

  .copyright-block_resp .copyright-text {
    font-size: 10px;
    color: #ccc
  }

  .follow-us {
    text-align: right;
    display: inline-block;
    width: 18%
  }

  .follow-us.mobile {
    display: none
  }

  .follow-us h4 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ccc;
    font-weight: 400
  }

  .follow-us .social-networks {
    margin-top: 3%;
    list-style-type: none;
    width: 100%;
    display: inline-block
  }

  .follow-us .social-networks li {
    display: inline-block;
    opacity: .8;
    margin-left: 9%
  }
}

@media (max-width: 760px) {
  .main-footer_logo-wrapper {
    width: 30%;
    margin-right: 0
  }

  .copyright-block_resp {
    width: 39%
  }

  .follow-us.tablet {
    margin-left: 0;
    width: 23%
  }
}

@media (max-width: 650px) {
  .main-footer_logo-wrapper {
    width: 34%
  }

  .copyright-block_resp {
    width: 35%
  }
}

@media (max-width: 530px) {
  .main-footer .follow-us {
    width: 100%;
    text-align: center
  }

  .main-footer .follow-us h4, .main-footer .follow-us.tablet {
    display: none
  }

  .main-footer .follow-us.mobile {
    display: block;
    margin: 0
  }

  .main-footer .follow-us .social-networks li {
    margin-left: 0
  }

  .main-footer .follow-us .social-networks li:nth-child(2) {
    margin: 0 10px
  }

  .contact-links-wrapper, .contact-links-wrapper h4 {
    display: none
  }

  .contact-links-wrapper.mobile {
    margin: 10px 0 !important;
    display: block
  }

  .copyright-block_resp {
    width: 100%
  }
}
