<header class="main-header">
  <nav class="content"><a href="/" class="main-header_logo">
    <div class="main-header_logo-img"></div>
  </a>
    <ul class="main-header_menu">
      <li class="main-header_menu-item _has-child">
        <a class="main-header_menu-item_link">
          <p class="main-header_menu-item-link-text">Services</p>
        </a>
        <img src="assets/common/ic_arrow.svg" class="main-header_menu-item-arrow">
        <ul class="main-header_menu-child __opacity">
          <li class="main-header_menu-item child">
            <a href="/services/software-engineering" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Software engineering</p>
            </a>
          </li>
          <li class="main-header_menu-item child">
            <a href="/services/startup-development" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Startup product development</p>
            </a>
          </li>
          <li class="main-header_menu-item child">
            <a href="/services/devops" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">DevOps</p>
            </a>
          </li>
          <li class="main-header_menu-item child">
            <a href="/services/technology-consulting" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Technology consulting</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="main-header_menu-item _has-child">
        <a class="main-header_menu-item_link">
          <p class="main-header_menu-item-link-text">Technologies</p>
        </a>
        <img src="assets/common/ic_arrow.svg" class="main-header_menu-item-arrow">
        <ul class="main-header_menu-child __opacity">
          <li class="main-header_menu-item child _has-child">
            <a class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Core technologies</p>
            </a>
            <img src="assets/common/ic_arrow.svg" class="main-header_menu-item-arrow sub-child">
            <ul class="main-header_menu-child sub-child __opacity">
              <li>
                <a href="/technologies/core-technologies/mobile">Mobile</a>
              </li>
              <li>
                <a href="/technologies/core-technologies/front-end">Front-end</a>
              </li>
              <li>
                <a href="/technologies/core-technologies/java">Java</a>
              </li>
              <li>
                <a href="/technologies/core-technologies/database">Databases</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="main-header_menu-item _has-child">
        <a class="main-header_menu-item_link">
          <p class="main-header_menu-item-link-text">About us</p>
        </a>
        <img src="assets/common/ic_arrow.svg" class="main-header_menu-item-arrow">
        <ul class="main-header_menu-child __opacity">
          <li class="main-header_menu-item child">
            <a href="/about-us/company" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Company</p>
            </a>
          </li>
          <li class="main-header_menu-item child">
            <a href="/about-us/process" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Our process</p>
            </a>
          </li>
          <li class="main-header_menu-item child">
            <a href="/about-us/contacts" class="main-header_menu-item_link sub-child">
              <p class="main-header_menu-item-link-text">Contacts</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="main-header_menu-item"><a href="/blog" class="main-header_menu-item_link"><p
        class="main-header_menu-item-link-text">Blog</p></a></li>
      <li class="main-header_menu-item button"><a class="btn show-popup">Contact us</a></li>
    </ul>
    <div class="free-quote-responsive"><a class="btn show-popup">Contact us</a></div>
    <ul class="main-header_menu burger_menu _burger-toggle">
      <li class="main-header_menu-item __burger-item">
        <div class="nav-icon"><span></span><span></span><span></span></div>
      </li>
    </ul>
    <div class="burger_menu-list _open-menu-list">
      <ul class="burger_menu-list-top">
        <li class="burger_menu-list-top__item show-popup free-quote-menu"><a class="burger_menu-list-top__item-text">Get
          free quote</a></li>
        <li class="burger_menu-list-top__item _has-child-responsive"><a
          class="burger_menu-list-top__item-text">Services</a><img src="assets/common/arrow-down.svg"
                                                                   class="burger_menu-list-top__item-image _burger_menu-list-top__item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger_menu-list-top__item child"><a href="/services/software-engineering"
                                                            class="burger_menu-list-top__item-text">Software
              engineering</a></li>
            <li class="burger_menu-list-top__item child"><a href="/services/startup-development"
                                                            class="burger_menu-list-top__item-text">Startup product
              development</a></li>
            <li class="burger_menu-list-top__item child"><a href="/services/devops"
                                                            class="burger_menu-list-top__item-text">DevOps</a></li>
            <li class="burger_menu-list-top__item child"><a href="/services/technology-consulting"
                                                            class="burger_menu-list-top__item-text">Technology
              consulting</a></li>
          </ul>
        </li>
        <li class="burger_menu-list-top__item"><a href="/projects" class="burger_menu-list-top__item-text">Projects</a>
        </li>
        <li class="burger_menu-list-top__item _has-child-responsive"><a class="burger_menu-list-top__item-text">Technologies</a><img
          src="assets/common/arrow-down.svg"
          class="burger_menu-list-top__item-image _burger_menu-list-top__item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger_menu-list-top__item child _has-subChild-responsive"><a
              class="burger_menu-list-top__item-text">Core technologies</a><img
              src="assets/common/arrow-down.svg"
              class="burger_menu-list-top__item-image _burger_menu-list-top__item-image sub-child">
              <ul class="second-list-burger-menu _second-list-burger-menu sub-child">
                <li class="burger_menu-list-top__item"><a href="/technologies/core-technologies/mobile"
                                                          class="burger_menu-list-top__item-text sub-child">Mobile</a>
                </li>
                <li class="burger_menu-list-top__item"><a href="/technologies/core-technologies/front-end"
                                                          class="burger_menu-list-top__item-text sub-child">Front-end</a>
                </li>
                <li class="burger_menu-list-top__item"><a href="/technologies/core-technologies/java"
                                                          class="burger_menu-list-top__item-text sub-child">Java</a>
                </li>
                <li class="burger_menu-list-top__item"><a href="/technologies/core-technologies/database"
                                                          class="burger_menu-list-top__item-text sub-child">Databases</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="burger_menu-list-top__item _has-child-responsive"><a
          class="burger_menu-list-top__item-text">Career</a><img src="assets/common/arrow-down.svg"
                                                                 class="burger_menu-list-top__item-image _burger_menu-list-top__item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger_menu-list-top__item child"><a href="/career/vacancies"
                                                            class="burger_menu-list-top__item-text">Vacancies</a></li>
            <li class="burger_menu-list-top__item child"><a href="/career/benefits"
                                                            class="burger_menu-list-top__item-text">Benefits</a></li>
          </ul>
        </li>
        <li class="burger_menu-list-top__item _has-child-responsive"><a class="burger_menu-list-top__item-text">About
          us</a><img src="assets/common/arrow-down.svg"
                     class="burger_menu-list-top__item-image _burger_menu-list-top__item-image">
          <ul class="second-list-burger-menu _second-list-burger-menu">
            <li class="burger_menu-list-top__item child"><a href="/about-us/company"
                                                            class="burger_menu-list-top__item-text">Company</a></li>
            <li class="burger_menu-list-top__item child"><a href="/about-us/process"
                                                            class="burger_menu-list-top__item-text">Our process</a></li>
            <li class="burger_menu-list-top__item child"><a href="/about-us/contacts"
                                                            class="burger_menu-list-top__item-text">Contacts</a></li>
          </ul>
        </li>
        <li class="burger_menu-list-top__item"><a href="/blog" class="burger_menu-list-top__item-text">Blog</a></li>
      </ul>
    </div>
  </nav>
</header>
